:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #da09de;
  --clr-primary-a10: #e143e2;
  --clr-primary-a20: #e762e6;
  --clr-primary-a30: #ec7cea;
  --clr-primary-a40: #f193ee;
  --clr-primary-a50: #f5aaf2;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #241823;
  --clr-surface-tonal-a10: #392d38;
  --clr-surface-tonal-a20: #4f444d;
  --clr-surface-tonal-a30: #655c64;
  --clr-surface-tonal-a40: #7d757c;
  --clr-surface-tonal-a50: #968f95;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;
}

body {
  background-color: var(--clr-light-a0);
  color: var(--clr-dark-a0);
}

.dark body {
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
}

/** Examples */

